# --- Core Web Framework ---
fastapi
uvicorn
pydantic
pydantic-settings
python-jose
passlib

# --- Agentic Orchestration ---
langgraph
langchain
langchain-openai
langchain-core

# --- Vector Database & AI ---
chromadb
openai
python-dotenv
scikit-learn
tavily-python

# --- Vision & CLIP ---
torch
transformers==4.40.1
tokenizers==0.19.1
pysqlite3
pillow
opencv-python
mediapipe
numpy

# --- Caching & Tools ---

# --- Database ---
sqlalchemy
mysql-connector-python



#-----Redis----
redis

